@model BookListViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Books</h2>

@foreach (var author in Model.Authors)
{
    <h3>@author.FirstName @author.LastName</h3>
    <ul>
        @foreach (var book in Model.Books.Where(x=>x.AuthorId == author.Id))
        {
            <li>@book.Title</li>
        }
    </ul>
}